* {
	margin: 0;
	padding: 0;
}
.checked {
  color: orange;
}


body {
font-family: 'Noto Sans KR', sans-serif;
}

.column {
  float: center;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

		section {
			padding-top: 98px;
			padding-bottom: 101px;
			background-color: lightgray;
		}
	
		 
	
		
		.fa-play{
			font-size: 100px;
			
		}
		
		
		#about .p-first{
			margin-bottom: 30px;
		}
		
		
		#about h2{
			margin-bottom: 47px;
			margin-top: 12px;
			
		}
		
		
		#about .social-link-text{
			margin-top: 50px;
			margin-bottom: 25px;			
			
		}
		
		.about-link{
			padding-left: 0px;
		}
		
		.about-link li{
			display: inline-block;
		}
		
		.about-link li a i{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			line-height: 50px;
			text-align: center;
			border: 1px solid #990000;
			margin-right: 10px;
			font-size: 22px;
			color: #990000;
			transition: all .3s;
			
		}
		
		
		#about .about-link li a i:hover{
			color: #222222;
			background: #A70101;
			border-color: #A70101;
			
		}
	 
		
		#about .about-img{
			position: relative;
			
		}
		
			#about .about-img .girl{
			position: absolute;
			bottom: 50px;
			top: 12px;
			left: 2px;
			
		}
		
		.color-3{
			color: #d6c6b2;
		}
		
		
		.text-white{
			color: #A70101;
		}
		
		
		p{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: black;
		}
		
		.btn-danger{
			border-radius: 0;
			padding: 10px 20px;
		}
		
		#skills {
			margin: -4px;
		}


	.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
   	height: 30%;
    width: 30%;
    margin-top: -3%;
  
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
h3 { 

	font-color: #990000;
}

html {
  scroll-behavior: smooth;
}

